[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext
x509_extensions    = v3_ext

[ dn ]
C  = KR
ST = Daejeon
L  = Seo-gu
O  = Meditooth
OU = Dev
CN = 192.168.0.19

[ req_ext ]
subjectAltName = @alt_names

[ v3_ext ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.0.19
DNS.1 = localhost